@import '/src/styles/base';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1px;
  align-items: center;
  @include boxed;
  filter: none !important;
  border-radius: 1px;
  @include themed-styles {
    background-color: themed-colour(background0);
  }

  button {
    transition: 80ms ease-in-out;
    font-size: 17px;
    height: 30px;
    align-items: center;
    display: flex;
    flex: 1 1;
    border-radius: 1px;
    justify-content: center;
    color: white;
    @include themed-styles {
      background-color: themed-colour(button-secondary) !important;
    }
  }

  button:hover {
    @include themed-styles {
      background-color: rgba(themed-colour(human-accent), 0.8) !important;
    }
  }

  button:disabled {
    @include themed-styles {
      background-color: rgba(themed-colour(button-secondary), 0.3) !important;
      cursor: not-allowed;
      color: rgba(themed-colour(text-primary), 0.3);
    }
  }
}
