@import '/src/styles/base';

.button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  transition: 300ms;
  @include themed-styles {
    fill: themed-colour('text-primary');
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
    @include themed-styles {
      fill: themed-colour('human-accent');
    }
  }
}
