@import '/src/styles/base';

.clock {
    display: flex;
    flex-direction: column;
    opacity: 0.5;

    @include themed-styles {
        div {
            background-color: rgba(themed-colour('background0'), 0.75);
        }
    }

    &.active {
        opacity: 1;
    }

    &.reversed {
        flex-direction: column-reverse;
    }

    .time { 
        display: inline-flex;
        align-self: flex-start;
        font-size: 26pt;
        padding: 5px 10px;
    }

    .player {
        padding: 5px 10px;
    }
}