@import '/src/styles/base';

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.evaluations {
  display: flex;
  flex-direction: row;
  gap: 2px;

  .evaluation {
    flex: 1;
    font-size: 14px;
    padding: 6px;
    @include boxed;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;

    & > span {
      @include themed-styles {
        color: themed-colour('text-muted');
      }
      animation: opacity 150ms ease-in-out 0ms;
    }
  }
}

.maia {
  @include themed-styles {
    color: themed-colour('human-accent') !important;
  }
}

.sf {
  @include themed-styles {
    color: themed-colour('ai-accent') !important;
  }
}

.position {
  @include themed-styles {
    color: themed-colour('text-primary') !important;
  }
}
