$themes: (
  light: (
    backdrop: #f6f6f6,
    background0: #eeeeee,
    background1: #ffffff,
    text-primary: #1e1e1e,
    text-muted: #1a1a1a,
    navigation-background: #000000,
    human-accent: #df705f,
    ai-accent: #65b5d7,
    button-secondary: #a8a8c6,
  ),
  dark: (
    backdrop: #1b1a1e,
    background0: #26242d,
    background1: #302e35,
    text-primary: #ebebeb,
    text-muted: #a5a9ae,
    navigation-background: #000000,
    human-accent: #fe6750,
    ai-accent: #3087ac,
    button-secondary: #37374d,
  ),
);

@mixin themed-styles() {
  @each $theme, $map in $themes {
    :global(.theme-#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get($map, '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }

  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get($map, '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed-colour($key) {
  @return map-get($theme-map, $key);
}
