@tailwind base;
@tailwind components;
@tailwind utilities;

p,
pre {
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:disabled {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.material-symbols-filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgb(18, 17, 21) 0%,
    rgb(22, 21, 25) 50%,
    rgb(18, 17, 21) 100%
  );
  color: rgb(var(--color-text-primary));
}

@media (max-width: 1000px) {
  .app-container {
    flex-direction: column;
    overflow-x: hidden;
  }
}

.content-container {
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

:root {
  --color-backdrop: 27 26 30;
  --color-text-primary: 235 235 235;
  --color-text-secondary: 165 169 174;
  --color-button-primary: 55 55 77;
  --color-button-secondary: 55 55 77;

  --color-background1: 38 36 45;
  --color-background2: 48 46 53;
  --color-background3: 58 56 70;
  --color-background4: 68 66 80;
  --color-background5: 78 76 90;

  --color-human-accent1: 254 127 109;
  --color-human-accent2: 222 111 95;
  --color-human-accent3: 191 95 82;
  --color-human-accent4: 159 79 68;

  --color-engine-accent1: 118 173 221;
  --color-engine-accent2: 90 157 215;
  --color-engine-accent3: 63 140 208;
  --color-engine-accent4: 35 124 201;
}

svg {
  fill: rgb(var(--color-text-primary));
}

.desktop-left-column-container {
  width: 16vw;
  min-width: max(14rem, 16vw);
  height: 85vh;
}

.desktop-middle-column-container {
  width: min(28vw, 50vh);
  min-width: calc(max(20rem, min(28vw, 50vh)));
  height: 85vh;
}

.desktop-board-container {
  min-width: calc(max(20rem, min(28vw, 50vh)));
  min-height: calc(max(20rem, min(28vw, 50vh)));
  width: min(28vw, 50vh);
  height: min(28vw, 50vh);
}

.desktop-right-column-container {
  width: 100%;
  min-width: 40vw;
  height: 85vh;
}

@media (min-width: 1280px) {
  .desktop-right-column-container {
    height: 85vh;
  }
}

.desktop-analysis-big-row-1-container {
  height: calc((85vh - 2.5rem - 1rem) / 2);
}

.desktop-analysis-big-row-2-container {
  height: calc((85vh - 2.5rem - 1rem) / 2);
}

.desktop-analysis-small-row-1-container {
  height: calc((85vh - 2.5rem - 1.5rem) * 0.4);
}

.desktop-analysis-small-row-2-container {
  height: calc((85vh - 2.5rem - 1.5rem) * 0.3);
}

.desktop-analysis-small-row-3-container {
  height: calc((85vh - 2.5rem - 1.5rem) * 0.3);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.red-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.red-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-human-accent3));
  border-radius: 1px;
}

.red-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-human-accent4));
}

.spinner {
  border: 4px solid rgb(var(--color-background4));
  border-left-color: rgb(var(--color-human-accent1));
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.tree-ul {
  position: relative;
  margin-left: 0.5rem;
  padding-left: 0.1rem;
}

.tree-li {
  position: relative;
  padding-left: 0.5rem;
}

/* Vertical Lines */
.tree-li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #be6559;
}

/* Horizontal Lines */
.tree-li::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0.9rem;
  width: 0.4rem;
  border-top: 1px solid #be6559;
}

/* Vertical Lines */
.tree-li::backdrop {
  content: '';
  position: absolute;
  left: 0;
  top: 0.9rem;
  width: 2rem;
  height: 2rem;
  background-color: #be6559;
}

.root > li:last-child::before,
.tree-ul > li:last-child::before {
  bottom: auto;
  height: 0.9rem;
}

.cg-wrap coords.ranks {
  top: -4% !important;
}

.cg-wrap coords.files {
  left: 4% !important;
}
