@tailwind base;
@tailwind components;
@tailwind utilities;

p,
pre {
  margin: 0;
}

:root {
  --color-backdrop: 246 246 246;
  --color-text-primary: 30 30 30;
  --color-text-secondary: 97 97 101;
  --color-button-primary: 168 168 198;
  --color-button-secondary: 168 168 198;

  --color-background1: 242 242 247;
  --color-background2: 209 209 214;
  --color-background3: 199 199 204;
  --color-background4: 174 174 178;
  --color-background5: 142 142 147;

  --color-human-accent1: 254 127 109;
  --color-human-accent2: 222 111 95;
  --color-human-accent3: 191 95 82;
  --color-human-accent4: 159 79 68;

  --color-engine-accent1: 171 204 248;
  --color-engine-accent2: 150 191 246;
  --color-engine-accent3: 129 179 244;
  --color-engine-accent4: 87 153 241;
}

.theme-dark {
  --color-backdrop: 27 26 30;
  --color-text-primary: 235 235 235;
  --color-text-secondary: 165 169 174;
  --color-button-primary: 55 55 77;
  --color-button-secondary: 55 55 77;

  --color-background1: 38 36 45;
  --color-background2: 48 46 53;
  --color-background3: 58 56 70;
  --color-background4: 68 66 80;
  --color-background5: 78 76 90;

  --color-human-accent1: 254 127 109;
  --color-human-accent2: 222 111 95;
  --color-human-accent3: 191 95 82;
  --color-human-accent4: 159 79 68;

  --color-engine-accent1: 118 173 221;
  --color-engine-accent2: 90 157 215;
  --color-engine-accent3: 63 140 208;
  --color-engine-accent4: 35 124 201;
}

svg {
  fill: rgb(var(--color-text-primary));
}

.font-helvetica {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.red-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.red-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-human-accent3));
  border-radius: 3px;
}

.red-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-human-accent4));
}

.spinner {
  border: 4px solid rgb(var(--color-background4));
  border-left-color: rgb(var(--color-human-accent1));
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
