@import '/src/styles/base';

.container {
  width: 100%;
  height: auto;
  font-size: 13px;
  padding: 1em;

  h1 {
    padding-left: 1em;
    padding-top: 10px;
  }

  thead th {
    font-size: 10px;
    font-weight: 400;

    @include themed-styles {
      color: themed-colour('text-muted');
    }
  }
  tbody {
    padding-top: 10px;
  }

  tbody tr {
    @include boxed;

    &:nth-child(odd) {
      @include themed-styles {
        background-color: themed-colour('tr-odd');
      }
    }

    &:nth-child(even) {
      @include themed-styles {
        background-color: themed-colour('tr-even');
      }
    }
  }

  tr td {
    padding: 10px;
    overflow: hidden;
  }

  width: 100%;

  tr:first-child td:first-child {
    padding: 10px;
    border-top-left-radius: 6px;
  }
  tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  table {
    border: none;
    border-collapse: collapse;
    position: relative;
    padding: 3px;
    width: 100%;
  }

  tbody {
    position: relative;
    top: 4px;
  }

  @include boxed;
  padding: 20px;

  h2 {
    margin-bottom: 10px;
  }
}
