@import '/src/styles/base';

.modalContainer {
  z-index: 20;
}

.instructions {
  position: relative;

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}

.textContainer {
  max-width: 600px;
}

.close {
  position: absolute;
  top: -10px;
  right: -15px;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    @include themed-styles {
      fill: rgba(themed-colour('text-primary'), 0.35);
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  @include themed-styles {
    button {
      border: 0;
      outline: 0;
      color: themed-colour(text-primary);
      background-color: themed-colour(background0);
      padding: 20px;
      border-radius: 5px;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        background-color: rgba(themed-colour(background0), 0.75);
      }
    }
  }
}
