@import '/src/styles/base';

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 20px 30px;
  gap: 20px;

  img {
    width: 38px;
    height: 38px;
  }

  @include themed-styles {
    background-color: themed-colour('background1');

    p {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: themed-colour('text-primary');
      margin: 0px;
    }
  }
}

.rankings {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include themed-styles {
    .rank:nth-child(odd) {
      background-color: rgba(themed-colour(background0), 0.6);
    }

    .rank:nth-child(even) {
      background-color: rgba(themed-colour(background1), 0.6);
    }
  }
}

.rank {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 16px;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    p:nth-child(1) {
      width: 20px;
    }
  }

  p {
    margin: 0px;
  }
}
