$light_background: #ffffff;
$dark_background: rgb(29, 36, 37);
$black: #222;

@import '/src/styles/base';

.font {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.homepage {
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;

  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
    }
  }
  .graphContainer {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 600px;
    min-height: 170px;
  }

  section {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 5rem;
    // background: var($light_background);
    background: #ffffff;

    a {
      color: #2a7ae2;
    }
  }

  .navigation {
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 2;

    @include mobile {
      overflow-y: scroll;
      justify-content: flex-start;
    }

    a {
      display: block;
      padding: 0 30px;
      font-size: 10pt;
      letter-spacing: 1px;
      white-space: pre;

      svg {
        margin-bottom: -2px;
        margin-right: 2px;
      }
    }
  }

  section.lightSection,
  .navigation {
    background-color: $light_background;
    color: rgb(43, 43, 43);
  }

  h3 {
    color: rgb(43, 43, 43);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
  }

  // p {
  //   margin: 0 0 15px;
  //   font-size: 20px;
  //   line-height: 1.5;
  // }
  // @media (min-width: 768px) {
  //   p {
  //     margin: 0 0 25px;
  //     font-size: 16px;
  //     line-height: 1.6;
  //   }
  // }

  // p#affiliation {
  //   font-size: 12px;
  // }

  .col4,
  .col6,
  .col8 {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .col4 {
    width: 33.3%;
    @include mobile {
      width: auto;
    }
  }

  .col6 {
    width: 50%;
    @include mobile {
      width: auto;
    }
  }

  .col8 {
    width: 66.6%;
    @include mobile {
      width: auto;
    }
    margin: auto;
  }

  // img {
  //   width: 100%;
  //   height: auto;
  // }
}
.peopleList {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;

  .person {
    display: flex;
    flex-flow: column;
    background: white;
    align-items: stretch;
    justify-content: space-between;
    min-width: 270px;
    flex: 0 0 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .personLine {
    display: flex;
    flex-flow: row;
    background: white;
    justify-content: space-evenly;
    align-items: stretch;
    font-size: 18pt;
    padding-top: 20px;
    // padding-top: 10px;
  }

  .affiliation {
    color: #6d6d6d;
    font-size: 18pt;
  }

  .role {
    color: #303030;
    font-weight: 700;
  }

  .personLine > .personLink {
    font-size: 20pt;
    width: 100%;
  }

  .personLine > .personLink:nth-child(1) {
    background: rgb(201, 125, 74);
  }
  .personLine > .personLink:nth-child(2) {
    background: rgb(214, 177, 73);
  }
  .personLine > .personLink:nth-child(3) {
    background: rgb(201, 212, 45);
  }

  .person > .personLine:nth-child(1) {
    padding-top: 1em;
  }
  .personImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
  }
}
