@import '/src/styles/base';

.header {
  z-index: 3;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 4% 5px;

  .wordmark {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }

  h2 {
    margin: auto 0;
  }

  a,
  .links > * {
    transition: 100ms ease-in-out;
    line-height: 1;
    padding: 10px;
    cursor: pointer;
  }

  a:hover,
  .links > *:hover,
  .links > *:focus-within {
    @include themed-styles {
      background-color: themed-colour('background0');
    }
  }

  @include mobile {
    padding: 5px;
    position: absolute;
    @include themed-styles {
      background-color: themed-colour('backdrop');
    }
    height: 65px;

    h2 {
      font-size: 20px;
    }

    .links,
    .linksRight {
      display: none;
    }
  }
}

.links {
  display: flex;
  gap: 6px;
  font-size: 95%;
  margin-left: 10px;
  flex: 1;

  button {
    font-family: inherit;
    background: none;
    font-size: inherit;
    color: inherit;
    border: none;
    text-transform: inherit;
    padding: 0;
    cursor: pointer;
    line-height: 1;
  }

  > * {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;

    &.selected {
      @include themed-styles {
        background-color: themed-colour('background1');
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
      .dropdownContent {
        display: flex;
        @include themed-styles {
          background-color: themed-colour('background0');
        }
      }
    }

    .dropdownContent {
      display: none;
      position: absolute;

      top: 100%;
      left: 0;
      text-align: right;
      padding: 0px 0px 0px 0px;
      white-space: pre;

      flex-direction: column;

      > * {
        display: block;
        background: none;
        font-family: inherit;
        font-size: inherit;
        border: none;
        text-align: left;
        color: inherit;
        cursor: pointer;
        padding: 15px 15px;
        text-transform: none;
        letter-spacing: normal;

        &:hover {
          @include themed-styles {
            background-color: themed-colour('background1');
          }
        }
      }
    }
  }
}

.mobile {
  .links {
    > * {
      padding: 10px 10px;
      margin-right: -10px;

      &.selected {
        background: none;
      }

      .dropdownContent {
        display: flex;
        position: relative;
        top: 0;
        background: none !important;
        margin-top: 10px;
        > * {
          text-align: left;
          padding: 10px 0px;
        }
      }
    }
  }

  .button {
    position: absolute;
    top: 20px;
    right: 5px;
  }
}

.linksRight {
  display: flex;
  gap: 12px;
  align-items: center;

  a {
    padding: 0;

    svg {
      width: 20px;
      height: 20px;
      @include themed-styles {
        fill: themed-colour('text-primary');
      }
    }
  }
}

.button {
  display: none;
  background-color: transparent;
  border: none;
  margin-left: auto;
  @include themed-styles {
    svg path {
      fill: themed-colour('text-primary');
    }
  }

  @include mobile {
    display: block;
  }
}

.menu {
  flex-direction: column;
  position: fixed;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  @include themed-styles {
    background-color: rgba(themed-colour('backdrop'), 0.7);
  }
  display: none;

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 200px;
    align-items: flex-start;
    padding: 25px;
    @include themed-styles {
      background-color: rgba(themed-colour('backdrop'), 1);
    }

    .links {
      justify-content: center;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  &.active {
    display: flex;
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    button {
      @extend .button;
      &:hover {
        cursor: poiner;
      }
    }
  }
}

.auth {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: center;

  svg {
    width: 20px;
    margin-right: 8px;

    @include themed-styles {
      fill: themed-colour('text-primary');
    }
  }

  .dropdown {
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
    position: absolute;
    padding: 4px 0px;
    border-radius: 6px;

    & > * {
      font-size: inherit;
      font-family: inherit;
      width: 100%;
      padding: 8px 16px;
      cursor: pointer;
      text-align: left;

      &:hover {
        @include themed-styles {
          background-color: themed-colour('background0');
        }
      }
    }

    @include mobile {
      top: auto;
      bottom: 100%;
    }
  }

  button {
    background-color: transparent;
    border: none;
    @include themed-styles {
      color: themed-colour(text-primary);
    }
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    margin: 2px 0 0 0;
    padding: 10px 0;
    text-align: right;
  }

  &:hover {
    .dropdown {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
      @include themed-styles {
        background-color: themed-colour('background1');
      }
    }
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding: 12px 16px;
  border-radius: 6px;

  @include themed-styles {
    background-color: themed-colour('background0');
  }

  .content {
    display: flex;
    flex-direction: column;
    font-size: small;

    p {
      margin: 0px !important;
      font-size: x-small;
      @include themed-styles {
        color: themed-colour(text-muted);
      }
    }
  }

  svg {
    width: 28px;
    height: 28px;
  }
}
