@import '/src/styles/base';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  flex: 1;
  padding: 20px;

  p {
    font-size: 13px;
  }

  @include themed-styles {
    background-color: themed-colour(background0);
    transition: background-colour 100ms ease-in-out;
    button {
      background-color: rgba(themed-colour(human-accent), 0.8);
      color: themed-colour(text-primary);
      padding: 7px;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        background-color: themed-colour(human-accent);
      }

      &:disabled {
        cursor: not-allowed;
        background-color: rgba(themed-colour(backdrop), 0.8);
        color: rgba(themed-colour(text-primary), 0.3);
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  @include mobile {
    width: 100vw;
    max-width: none;
    padding: 14px;
    gap: 10px;
    p {
      margin: 0px;
    }
  }
}

.secondary {
  @include themed-styles {
    background-color: rgba(themed-colour(ai-accent), 0.8) !important;
    &:hover {
      background-color: themed-colour(ai-accent) !important;
    }

    &:disabled {
      background-color: rgba(themed-colour(backdrop), 0.8) !important;
      color: rgba(themed-colour(text-primary), 0.3);
    }
  }
}
