@import '/src/styles/base';

.container {
  display: flex;
  flex-direction: row;

  display: flex;
  gap: 2px;
  width: 75vh;
  max-width: 70vw;

  span {
    width: 20px;
    height: 14px;
    border-radius: 2px;
    @include themed-styles {
      background-color: themed-colour(ai-accent);
    }
  }

  span:hover {
    cursor: pointer;
  }

  @include themed-styles {
    .current {
      background-color: rgba(themed-colour(button-secondary), 0.8);
    }

    .correct {
      background-color: themed-colour(ai-accent);
    }

    .incorrect {
      background-color: themed-colour(human-accent);
    }
  }
}
