@import '/src/styles/base';

.container {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  @include boxed;

  h2 {
    margin-bottom: 20px;
  }
}

.items {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 180px;
  padding: 20px;
  @include boxed;
  justify-content: space-between;
  background-color: #4f595b29 !important;
}
