@import '/src/styles/base';

.container {
  height: 24px;
  display: flex;
  width: 75vh;
  max-width: 70vw;
  @include boxed;
  padding: 1px;
  border-radius: 2px;
  position: relative;
  @include themed-styles {
    background-color: rgba(themed-colour(ai-accent), 0.15);
  }
}

.label {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 14px;
  margin: 0px;
  color: rgba(255, 255, 255, 0.6);
}

.content {
  transition: 0.4s ease-in-out;
  transition-delay: 0.1s;
  display: flex;
  height: 100%;
  border-radius: 1px;
  @include themed-styles {
    background-color: themed-colour(ai-accent);
  }
}
